@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import './Utils/variables';
@import './Utils/mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font;
 }
 html{
      scroll-behavior: smooth;
  }
i{
    cursor: pointer;
}
// box loading
.box-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $four--color;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s; 
    pointer-events: none;
    @include flex;
    .dots {
        width: 72px;
        height: 34.6px;
        background: radial-gradient(circle closest-side,#ff0077 90%,#0000) 0%   50%,
               radial-gradient(circle closest-side,#ff0077 90%,#0000) 50%  50%,
               radial-gradient(circle closest-side,#ff0077 90%,#0000) 100% 50%;
        background-size: calc(100%/3) 17.3px;
        background-repeat: no-repeat;
        animation: dots-7ar3yq 1s infinite linear;
     }
     
     @keyframes dots-7ar3yq {
        20% {
           background-position: 0%   0%, 50%  50%,100%  50%;
        }
     
        40% {
           background-position: 0% 100%, 50%   0%,100%  50%;
        }
     
        60% {
           background-position: 0%  50%, 50% 100%,100%   0%;
        }
     
        80% {
           background-position: 0%  50%, 50%  50%,100% 100%;
        }
     }
}

// display main to none
.main-load{
    display: none;
    transition: display 0.3s;
}
.burger{
    display: none;
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;

    svg{
        &:nth-child(1){
            display: none;
        }
        g{
            fill: $first--color;
        }
    }
}
// section navigation
.navigation{
      position: fixed;
      width: 13rem;
      height: 100vh;
      background: $four--color;
      transition: transform 0.4s;
      
}

.bloc{
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .bloc-img{
        display: flex;
        justify-content: center;
        width: 10rem;
        height: 10rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        
        }
    }
}

.border{
    width: 70%;
    height: 2px;
    background: $first--color;
    margin-inline: auto;
}
nav{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    a{
        color: $second--color;
    }

}
.contact-link{
    @include flex($justify: space-evenly);
    padding-top: 100px;
    a{

        color: $second--color;
        font-size: 1.8rem;
        transition: color 0.3s;

        &:hover{
            color: $first--color;
            transition: color 0.3s;
        }
    }
}
// section container
.container{
    width: calc(100% - 13rem);
    margin-left: auto;

}

// section accueil
#accueil{
    width: 100%;
    height: 100vh;
    background-image: url('./image/fond.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    @include flex;

    .presentation{
        width: 100%;
        min-height: 100px;
        z-index: 1;

        &:nth-child(2){
            font-size: clamp(2rem, 4vw, 4.2rem);
            color: $second--color;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            font-weight: bolder;
            text-align: center;
        }
        
        ul{
            width: Min(80%, 450px);
            margin-inline: auto;
            margin-top: 20px;
            li{
                font-size: clamp(1rem, 2vw, 3rem );
                color: $first--color;
                font-weight: bold;
                border-left: 5px solid $second--color;
                border-right: 5px solid $second--color;   
                
            }
        }
        .presentaion--about{
            margin-top: 20px;
            a{
                color: $second--color;
                font-size: clamp(0.6rem, 1vw, 2rem);
                border: 3px solid $three--color;
                padding: 20px;

                &:hover{
                    border-color: $first--color;
                    transition: border-color 0.3s ease-in-out;
                }
                
            }
        }    
    }
}

.accueil--overlay{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1a;
    opacity: 0.85;
}

// section à propos
#about{
    height: 100vh;
    background-color: $three--color;
    @include flex ;
    .about-about-img{
        @include flex ($justify: space-evenly);
        width: 100%;
    }
    .about-img{
        border: 8px solid $first--color;
        width: 360px;
        height: 360px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(15%, -10%);
            box-shadow: -5px 5px 10px $four--color;
            transition: all 0.4s;
            cursor: pointer;
            
            &:hover{
                transform: translate(0);
                box-shadow: none;
                transition: all 0.4s;
            }
        }
    }
    .about-about{
        width: 400px;
        height: 100%;
        margin-left: 100px;
        letter-spacing: 0.1rem;

        h3{
            position: relative;
            margin-bottom: 20px;
            font-weight: 900;
            color: $first--color;
            font-size: clamp(1.5rem, 1vw, 4rem);
            
        }
        p{
            @include description;
            font-size: clamp(0.8rem, 1.2vw, 3rem);
            line-height: 25px;

        }
        button{
            margin-top: 5px;
            background-color: $second--color--opacity;
            border: none;
            width: 150px;
            height: 50px;
            letter-spacing: 1.5px;
            color: $second--color;
            font-weight: 700;
            font-family: $font;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover{
                background-color: $first--color;
                transition: background-color 0.3s;

            }
        }
        
    }
}
.about-about p a{
    color: $second--color;
}

h3::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 70px;
    width: 100px;
    height: 3px;
    border-radius: 5%;
    background-color: $second--color;
}

// section skill

#skill{
    padding-top: 20px;
    padding-bottom: 40px;
    background: linear-gradient(330deg, #1f005c, #7d0061, #bc365d, #e6745c, #ffb56b);
    h1{
        font-size: clamp(2.5rem, 8vw, 3rem);
        text-align: center;
        color: $first--color;
        margin-bottom: 20px;
    }
    .bloc-skill{
        width: Min(90%, 900px);
        min-height: 300px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
        grid-auto-rows: minmax(auto, 400px);
        gap: 2rem;

    }
}

//section skill blocs competences
.container-svg{
    background: $second--color--opacity;
    box-shadow: 5px 5px 10px black;
    .html{
        position: relative;
        margin-top: 30px;
        height: 210px;
        @include flex;
        img{
            margin-top: 18px;
            max-width: 150px;
            max-height: 150px;
            position: absolute;
        }
        .img-css{
            max-width: 120px;
            max-height: 120px;
        }
        .img-js{
            max-width: 230px;
            max-height: 230px;
        }
        .img-github{
            margin-right: 10px;
            margin-top: 10px;
            
        }
    }
    svg{
        width: 210px;   
        height: 210px;
        transform: rotate(-90deg);   
        circle{
            fill: none;
            stroke-width: 20px;
            stroke-linecap: round;
            stroke-dasharray: 565;
            stroke-dashoffset: 565;

            &:nth-child(1){
                stroke-dashoffset: 0;
                stroke: white;
                
            }
            
        }
        .scrolled.circle-html{
            stroke: rgb(235, 81, 26);
            animation: circle-1-2-3 2s forwards;
        }
        .scrolled.circle-css{
            stroke: #5309dd;
            animation: circle-1-2-3 2s forwards;

        }
        .scrolled.circle-js{
            stroke:  #ecff08;   
            animation: circle-1-2-3 2s forwards;
            ;
        }
        .scrolled.circle-react{
            stroke: rgb(38, 172, 245);
            animation: circle-4 2s forwards;
        }
        .scrolled.circle-git{
            stroke: rgb(235, 81, 26);
            animation: circle-5-6 2s forwards;
        }
        .scrolled.circle-github{
            stroke: $four--color;
            animation: circle-5-6 2s forwards;
        }
    }
    
    span{
       position: absolute;
       font-size: 40px;
       color: $second--color;
       font-weight: 500;
    }
    .name-circle{
        margin-top: 6em;
        color: $second--color;
        width: 200px;
        height: 40px;
        margin-inline: auto;
        border: 3px solid $second--color;
        box-shadow:  5px 5px 5px $four--color;
        @include flex;
        text-transform: uppercase;
        font-weight: 500;
    }
}

@keyframes circle-1-2-3 {
    100%{
        stroke-dashoffset: 113;
    }
}
@keyframes circle-4{
    100%{
        stroke-dashoffset: 226;
    }
}
@keyframes circle-5-6{
    100%{
        stroke-dashoffset: 282.5;
    }
}

// section projects
#projects{
    padding: 20px 0 40px 0;
    background-color: rgb(46, 57, 61);
}
.projects--title{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    h2{
        @include heading-2;
    }
    p{
        font-size: 1rem;
        @include description;
    }
}
.projects-grid{
    width: Min(90%, 900px);
    min-height: 300px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(auto, 300px);
    gap: 2rem;

    div{
        cursor: pointer;
        overflow: hidden;
        box-shadow:  2px 2px 1px $four--color;

    }

    img{
        max-width: 100%;
        min-height: 100%;
        transform: scale(1);
        transition: transform 0.4s;
        &:hover{
            transform: scale(1.2);
            transition: transform 0.4s;
        }
    }

}

// section contacts
#contact{
    background: $four--color;
}
.contact-title{
    text-align: center;
    padding-top: 10px;
    h2{
        @include heading-2($size: 3rem);
        line-height: 100px;
    }
    p{
        @include description;
        font-size: clamp(1rem, 1.3vw, 2rem);
    }
}
.contact-link-form{
    width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 80px;
    overflow: hidden;
    .scrolled.contact-link{
        min-height: 300px;
        @include flex($justify: space-evenly);
        animation: slide-in-left 1s ease-in-out both;
        a{
            color: $second--color;
            transition: color 0.3s;
            i{
                font-size: clamp(1.5rem, 3vw, 2.5rem);
            }
            &:hover{
                color: $first--color;
                transition: color 0.3s;
            }
        }
    }
    .scrolled.contact-form{
        background: $second--color;
        min-height: 300px;
        padding: 30px;
        margin: 20px 0;
        animation: slide-in-right 1s ease-in-out both;

        input{
            margin: 10px 0;
            display: block;
            @include border;
            &:nth-child(1),&:nth-child(2){
                height: 3rem;
                width: 100%;
                border-color: $three--color;
                padding-left: 5px;
                &:focus{
                    outline: none;
                }

            }
            &:nth-child(3){
                width: 100%;
                height: 3rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                transition: background-color 0.3s;
                border: none;
                color: $second--color;
                background-color: #bf1b49;
                cursor: pointer;

                &:hover{
                    background-color: $first--color;
                    transition: background-color 0.3s;
                }
            }
       }
       textarea{
           width: 100%;
           @include border;
           border-color: $three--color;
           margin-bottom: 10px;
           padding: 5px;
           &:focus{
            outline: none;
           }
       }
    }
}
@keyframes slide-in-left{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
// footer
footer{
    margin-top: 80px;
    .footer-border{
        width: 70%;
        margin-inline: auto;
        height: 4px;
        margin-bottom: 20px;
        background: $first--color;

    }
    .footer-copyright{
        padding-bottom: 10px;
        @include flex;
        p{
            color: $second--color;
            margin-inline: 10px;
        }
    }
}
// animation on scroll
.js-scroll{
    opacity: 0;
    transition: opacity 0.5s ;
}
.js-scroll.scrolled{
    opacity: 1;
}
//media device
@media screen and (max-width: 768px) {
    .burger{
        display: block;
    }
    .navigation{
        transform: translateX(-100%);
        z-index: 10000;
    }
    .container{
        width: 100%;

    }
    #about{
        min-height: 500px;
        .about-img{
            border: none;
            padding: 30px;
            img{
                transform: translate(0);
            }
        }
        .about-about{
            text-align: center;
            max-width: 100%;
            width: Min(90%, 400px);
            margin-left: 0;
            p{
                line-height: 20px;
            }
        }
    }
    #about .about-about-img{
        flex-direction: column;
    }

    h3::after{
        left: 0;
        width: 100%;
    }
    .contact-link-form{
        margin-top: 0;
    }
    .contact-link{
        padding-top: 0;
    }
    .contact-link-form .contact-form{
        margin: 0;
    }
}
