@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

i {
  cursor: pointer;
}

.box-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.box-loading .dots {
  width: 72px;
  height: 34.6px;
  background: radial-gradient(circle closest-side, #ff0077 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #ff0077 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #ff0077 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 17.3px;
  background-repeat: no-repeat;
  -webkit-animation: dots-7ar3yq 1s infinite linear;
          animation: dots-7ar3yq 1s infinite linear;
}
@-webkit-keyframes dots-7ar3yq {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
@keyframes dots-7ar3yq {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.main-load {
  display: none;
  transition: display 0.3s;
}

.burger {
  display: none;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}
.burger svg:nth-child(1) {
  display: none;
}
.burger svg g {
  fill: #FF0077;
}

.navigation {
  position: fixed;
  width: 13rem;
  height: 100vh;
  background: #1a1a1a;
  transition: transform 0.4s;
}

.bloc {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc .bloc-img {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}
.bloc .bloc-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.border {
  width: 70%;
  height: 2px;
  background: #FF0077;
  margin-inline: auto;
}

nav {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}
nav a {
  color: #FFFFFF;
  position: relative;
}
nav a:hover::after {
  opacity: 1;
  width: 100%;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FF0077;
  transform-origin: left;
  transition: all 0.4s ease;
  opacity: 0;
}
nav .active--navLink::after {
  width: 100%;
  height: 2px;
  opacity: 1;
}

.contact-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 100px;
}
.contact-link a {
  color: #FFFFFF;
  font-size: 1.8rem;
  transition: color 0.3s;
}
.contact-link a:hover {
  color: #FF0077;
  font-weight: 800;
}

.container {
  width: calc(100% - 13rem);
  margin-left: auto;
}

#accueil {
  width: 100%;
  height: 100vh;
  background-image: url("./image/fond.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#accueil .presentation {
  width: 100%;
  min-height: 100px;
  z-index: 1;
}
#accueil .presentation:nth-child(2) {
  font-size: clamp(2rem, 4vw, 4.2rem);
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  text-align: center;
}
#accueil .presentation ul {
  width: min(80%, 450px);
  margin-inline: auto;
  margin-top: 20px;
}
#accueil .presentation ul li {
  font-size: clamp(1rem, 2vw, 3rem);
  color: #FF0077;
  font-weight: bold;
  border-left: 5px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  padding-inline: 10px;
}
#accueil .presentation .presentaion--about {
  margin-top: 20px;
}
#accueil .presentation .presentaion--about a {
  color: #FFFFFF;
  font-size: clamp(0.6rem, 1vw, 2rem);
  border: 3px solid #6e6e6e;
  padding: 20px;
}
#accueil .presentation .presentaion--about a:hover {
  border-color: #FF0077;
  transition: border-color 0.3s ease-in-out;
}

.accueil--overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1a1a1a;
  opacity: 0.85;
}

#about {
  height: 100vh;
  background-color: rgb(46, 57, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#about .about-about-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#about .about-img {
  border: 8px solid #FF0077;
  width: 360px;
  height: 360px;
}
#about .about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(15%, -10%);
  box-shadow: -5px 5px 10px #1a1a1a;
  transition: all 0.4s;
  cursor: pointer;
}
#about .about-img img:hover {
  transform: translate(0);
  box-shadow: none;
  transition: all 0.4s;
}
#about .about-about {
  width: 400px;
  height: 100%;
  margin-left: 100px;
  letter-spacing: 0.1rem;
}
#about .about-about h3 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 900;
  color: #FF0077;
  font-size: clamp(1.5rem, 1vw, 4rem);
}
#about .about-about p {
  font-weight: 600;
  color: #FFFFFF;
  max-width: 100%;
  font-size: clamp(0.8rem, 1.2vw, 3rem);
  line-height: 25px;
}
#about .about-about button {
  position: relative;
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  z-index: 1;
  transition: border 0.3s ease-in;
}
#about .about-about button:hover {
  border: none;
}
#about .about-about button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #FF0077;
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
  transform-origin: right;
  z-index: -1;
}
#about .about-about button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.about-about p a {
  color: #FFFFFF;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 70px;
  width: 100px;
  height: 3px;
  border-radius: 5%;
  background-color: #FFFFFF;
}

#skill {
  padding-bottom: 40px;
  background: linear-gradient(#1f005c, #7d0061, #bc365d, #e6745c);
}
#skill h1 {
  font-size: clamp(2.5rem, 8vw, 3rem);
  text-align: center;
  color: #FF0077;
  padding: 35px 0;
}
#skill .bloc-skill {
  width: min(90%, 900px);
  min-height: 300px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container-svg {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px -1px black;
  min-width: min(100%, 278px);
  border-radius: 7px;
  transition: transform 0.4s ease;
  padding-bottom: 10px;
}
.container-svg:hover {
  transform: scale(1.15);
}
.container-svg .html {
  position: relative;
  margin-top: 30px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-svg .html img {
  margin-top: 18px;
  max-width: 150px;
  max-height: 150px;
  position: absolute;
}
.container-svg .html .img-css {
  max-width: 120px;
  max-height: 120px;
}
.container-svg .html .img-js {
  max-width: 230px;
  max-height: 230px;
}
.container-svg .html .img-github {
  margin-right: 10px;
  margin-top: 10px;
}
.container-svg span {
  position: absolute;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 500;
}
.container-svg .name-circle {
  color: #FFFFFF;
  width: 200px;
  height: 40px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 500;
}

#projects {
  padding: 0 0 40px 0;
  background-color: rgb(46, 57, 61);
}

.projects--title {
  font-weight: 500;
  text-align: center;
  padding: 35px 0;
}
.projects--title h2 {
  font-size: 2.5rem;
  color: #FF0077;
  line-height: 60px;
}

.projects-grid {
  width: min(90%, 900px);
  min-height: 300px;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-grid__contain {
  min-width: min(100%, 300px);
  box-shadow: 2px 2px 1px #1a1a1a;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: transparent;
}
.projects-grid__contain:hover p {
  transform: translateX(0);
  opacity: 1;
}
.projects-grid__contain:hover a {
  transform: translateX(50%);
  opacity: 1;
}
.projects-grid__contain:hover img {
  opacity: 0.4;
}
.projects-grid__contain aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  z-index: 1;
}
.projects-grid__contain aside p {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FF0077;
  transform: translateX(-100%);
  text-align: center;
  transition: transform 0.6s ease;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.5vw, 3rem);
}
.projects-grid__contain aside a {
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #FF0077;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: transform 0.6s ease;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.5vw, 3rem);
}
.projects-grid__contain aside i {
  transform: rotate(140deg);
  color: #FF0077;
}
.projects-grid img {
  max-width: 100%;
  min-height: 100%;
  transition: opacity 0.4s ease;
}

#certifications {
  background-color: gainsboro;
  padding-bottom: 50px;
}

#contact {
  background: #1a1a1a;
}

.contact-title {
  text-align: center;
}
.contact-title h2 {
  font-size: 3rem;
  color: #FF0077;
  line-height: 60px;
  padding: 35px 0;
  line-height: unset;
}
.contact-title p {
  font-weight: 600;
  color: #FFFFFF;
  max-width: 100%;
  font-size: clamp(1rem, 1.3vw, 2rem);
}

.contact-link-form {
  width: 95%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 80px;
  overflow: hidden;
}
.contact-link-form .scrolled.contact-link {
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  -webkit-animation: slide-in-left 1s ease-in-out both;
          animation: slide-in-left 1s ease-in-out both;
}
.contact-link-form .scrolled.contact-link a {
  color: #FFFFFF;
  transition: color 0.3s;
}
.contact-link-form .scrolled.contact-link a i {
  font-size: clamp(1.9rem, 4vw, 2.5rem);
  font-weight: 800;
}
.contact-link-form .scrolled.contact-link a:hover {
  color: #FF0077;
  transition: color 0.3s;
}
.contact-link-form .scrolled.contact-form {
  background: #FFFFFF;
  min-height: 300px;
  padding: 30px;
  margin: 20px 0;
  -webkit-animation: slide-in-right 1s ease-in-out both;
          animation: slide-in-right 1s ease-in-out both;
}
.contact-link-form .scrolled.contact-form input {
  margin: 10px 0;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact-link-form .scrolled.contact-form input:nth-child(1), .contact-link-form .scrolled.contact-form input:nth-child(2) {
  height: 3rem;
  width: 100%;
  border-color: #6e6e6e;
  padding-left: 5px;
}
.contact-link-form .scrolled.contact-form input:nth-child(1):focus, .contact-link-form .scrolled.contact-form input:nth-child(2):focus {
  outline: none;
}
.contact-link-form .scrolled.contact-form input:nth-child(3) {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: background-color 0.3s;
  border: none;
  color: #FFFFFF;
  background-color: #bf1b49;
  cursor: pointer;
}
.contact-link-form .scrolled.contact-form input:nth-child(3):hover {
  background-color: #FF0077;
  transition: background-color 0.3s;
}
.contact-link-form .scrolled.contact-form textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #6e6e6e;
  margin-bottom: 10px;
  padding: 5px;
}
.contact-link-form .scrolled.contact-form textarea:focus {
  outline: none;
}

@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
footer {
  margin-top: 80px;
}
footer .footer-border {
  width: 70%;
  margin-inline: auto;
  height: 4px;
  margin-bottom: 20px;
  background: #FF0077;
}
footer .footer-copyright {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer-copyright p {
  color: #FFFFFF;
  margin-inline: 10px;
}

.js-scroll {
  opacity: 0;
  transition: opacity 0.5s;
}

.js-scroll.scrolled {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
  .navigation {
    transform: translateX(-100%);
    z-index: 10000;
  }
  .container {
    width: 100%;
  }
  #about {
    min-height: 500px;
  }
  #about .about-img {
    border: none;
    padding: 30px;
  }
  #about .about-img img {
    transform: translate(0);
  }
  #about .about-about {
    text-align: center;
    max-width: 100%;
    width: min(90%, 400px);
    margin-left: 0;
  }
  #about .about-about p {
    line-height: 20px;
  }
  #about .about-about-img {
    flex-direction: column;
  }
  h3::after {
    left: 0;
    width: 100%;
  }
  .contact-link-form {
    margin-top: 0;
  }
  .contact-link {
    padding-top: 0;
  }
  .contact-link-form .contact-form {
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */