// colors
$first--color: #FF0077;
$second--color: #FFFFFF;
$second--color--opacity: rgba(255, 255, 255, 0.1);
$three--color: #6e6e6e;
$four--color: #1a1a1a;

//fonts
$font: 'Poppins', sans-serif;
$font-lora: 'Lora', serif;